  @media screen and (min-width: 428px) {

.container{
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    }

.feature-subtitle{
    justify-content: center;
}

.section-2 {
    display: none;
}

        
    }



    @media screen and (min-width: 768px) {
.container {
    max-width: 768px;  
    
    }
.feature-subtitle{
    justify-content: center;
}  
.list-item{
    flex-basis: calc((100% - 24px) / 2);
}
.feature-sublist {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
}
.feature-list {
    display: flex;
    gap: 24px;
    
}
 
   


 


      
}



    @media screen and (min-width: 1200px) {

.container{
    max-width: 1158px;
   
}
.feature-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
        
.list-item::before {
    content: '';
    display: block;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.list-item:nth-child(1)::before {
    content: '';
    background-image: url("../images/antenna.svg");
}

.list-item:nth-child(2)::before {
    content: '';
    background-image: url("../images/clock.svg");
}

.list-item:nth-child(3)::before {
    content: '';
    background-image: url("../images/diagram.svg");
}

.list-item:nth-child(4)::before {
    content: '';
    background-image: url("../images/astronaut.svg");
}
.cards-subtext{
     width: 264px;
}

.section-2 {
    display: block;
}

.feature-subtitle{
    display: flex;
    justify-content: center;
}


    }
